@tailwind base;
@tailwind components;
@tailwind utilities;


/* Dropdown Button */
.dropbtn {
    @apply bg-indigo-800 text-slate-50 m-0 py-5 min-w-48 w-full;
  }
  
  .dropdown {
    @apply relative inline-block h-fit;
  }
  
  .dropdown-content {
    @apply absolute bg-indigo-100 dark:bg-indigo-900 dark:text-slate-50 min-h-fit shadow-sm z-10 hidden w-full;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    @apply text-slate-950 px-3 py-4 no-underline block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    @apply bg-indigo-300;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    @apply block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    @apply bg-indigo-900 shadow-2xl shadow-indigo-900;
  }

  .textLink {
    @apply text-indigo-700 underline cursor-pointer hover:text-indigo-950 hover:shadow-indigo-950;
  }

  .background {
  @apply -z-10;
    background: linear-gradient(
            45deg,
            transparent 49%,
            #3730a3 49% 51%,
            transparent 51%
        ),
        linear-gradient(
            -45deg,
            transparent 49%,
            #3730a3 49% 51%,
            transparent 51%
        );
    background-size: 3em 3em;
    background-color: #c7d2fe;
    opacity: 1;
}