@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/assets/fonts/Montserrat/Montserrat.ttf") format("truetype");
  }
  @font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/assets/fonts/Open_Sans/OpenSans.ttf") format("truetype");
  }
  @font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/assets/fonts/Oswald/Oswald.ttf") format("truetype");
  }

  body {
    font-family: "Roboto", sans-serif;
  }
}

:root {
  --default-font: font-family: "Roboto", sans-serif;
}

.divider{
  @apply mb-3;
}
.selectable-block {
  @apply w-full cursor-pointer hover:border-4 hover:border-orange-400 hover:shadow-lg;
}

.blockEditItem {
  @apply w-full h-fit flex flex-col place-items-start;
}
.styleEditItem {
  @apply w-full h-fit flex flex-col place-items-start;
}

h2 {
  @apply font-bold self-center;
}

h3 {
  @apply mt-4 mb-2 self-start text-sm font-semibold;
}

.custom-input {
  @apply w-full md:max-w-96 sm:overflow-auto py-2 px-1 outline outline-2 outline-indigo-950 focus:outline-orange-500 hover:outline-indigo-600 caret-indigo-700 rounded-md;
}
.custom-input-error {
  @apply md:min-w-96 sm:overflow-auto py-2 px-3 outline outline-2 outline-red-600 caret-red-700 border border-red-900 rounded-md;
}

.divider {
  @apply self-center bg-slate-600 w-[91%] min-w-7 h-[1px] opacity-75 z-0;
}
/* Dropdown Button y LoginButton */
.dropbtn {
  @apply bg-indigo-800 text-slate-50 m-0 py-5 min-w-48 w-full cursor-pointer z-40;
}

.dropdown {
  @apply relative inline-block h-fit z-50;
}

.dropdown-content {
  @apply absolute bg-indigo-100 dark:bg-indigo-900 dark:text-slate-50 min-h-fit shadow-sm z-50 hidden w-full cursor-pointer;
}

/* Links inside the dropdown */
.dropdown-content p {
  @apply text-slate-950 px-3 py-4 no-underline block z-50;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  @apply bg-indigo-300;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  @apply block z-40;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  @apply bg-indigo-900 shadow-2xl shadow-indigo-900;
}

.textLink {
  @apply text-indigo-700 underline cursor-pointer hover:text-indigo-950 hover:shadow-indigo-950;
}

.background {
  @apply -z-10;
  background: linear-gradient(
      45deg,
      transparent 49%,
      #3730a3 49% 51%,
      transparent 51%
    ),
    linear-gradient(-45deg, transparent 49%, #3730a3 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-color: #c7d2fe;
  opacity: 1;
}

.alt-background {
  @apply -z-10;
  background: linear-gradient(135deg, #4f46e480 50%, transparent 0),
    linear-gradient(-135deg, #4f46e480 50%, transparent 0);
  background-size: 3em 3em;
  background-color: #c7d2fe;
  opacity: 1;
}
